*.pyc
*ipynb_checkpoints*
*.swp
*.hdf5
*.h5
*egg-info*
dist/
build/
docs/docs_html
*.bz2
notebooks/out
docs/_*
notebooks/_*
notebooks/data
notebooks/*-out.ipynb
*.pt3
*.spc
*.sm
*.ht3
*.ptu
*.set
phconvert/_version.py
